@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* > *{
  font-family: 'Poppins', sans-serif;
}


body {
  position: flex;
  
  /* background-image: url("./assets/greencap.jpeg"); */
  /* background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
 
  backdrop-filter: blur(5px); /* blur effect to the backdrop */
  /* background-color: rgba(255, 255, 255, 0.2);
  font-size: 25px;
  height: 100vh;
  width: 100%;  */
  padding: 0px;
  background-color: rgb(246, 249, 246);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}