/* Navigation.module.css */
.navigation {
  background-color: bisque; 
  position: absolute;
  
  }
  


  nav {
    width: 250px;
    background-color: #3c413d;
    color: #fff;
    height: 150vh;
    /* position: absolute; */
 
   }
  
  nav ul {
    padding: 0;
    list-style: none;
  }
  
  nav ul li {
    padding: 30px;
    border-bottom: 1px solid #555;
  }
  
  .nav-open {
    width: 250px;
  } 
   

  
