 .projects_section {
  background-color: #f2f2f2; /* Set the background color for the projects section */
  padding: 20px;
  overflow-x: auto; /* Enable horizontal scrolling for overflow content */
  white-space: nowrap; /* Prevent line breaks for the project rows */
    
  }
  .card {
    background: #c8d2cb;
    border-radius: 2px;
    display: inline-block;
    height: 380px;
    margin: 1rem;
    position: relative;
    width: 330px;
    overflow: auto;
    border-radius: 20px;


  }
  .card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .whole{
    text-align: left;
    position: absolute;
    left: 260px;
    margin-top: 20px;
    margin-bottom: 0px;
    
  }
  .h1{
    font-size: 1.5em
  }
  .forest{
    width: 330px;
  }